@import "./variables";
@import "./nprogress";
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-Regular.ttf");
}
@font-face {
  font-family: "JetBrains Mono Bold";
  src: url("/fonts/JetBrainsMono-Bold.ttf");
}
html, body {
  background: #00040B;
}
